<div class="container" style="padding-top:25px;">
	<!-- row -->
	<div class="row row-offcanvas row-offcanvas-left">
		<!-- sidebar-offcanvas -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 sidebar-offcanvas">
			<div class="list-group">
				<a class="list-group-item">
					<div class="logo"></div></a>
				<a class="list-group-item">
					<i class="fa fa-spoon"></i>&nbspTastemakers</a>
				<a class="list-group-item">
					<i class="fa fa-book"></i>&nbspBlog</a>
				<a class="list-group-item">
					<i class="fa fa-list"></i>&nbspThe A-List</a>
				<a class="list-group-item">
					<i class="fa fa-plus-square"></i>&nbspContribute</a>
				<a class="list-group-item">
					<i class="fa fa-info"></i>&nbspAbout</a>
			</div>
		</div>
		<!-- /sidebar-offcanvas -->

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
			<!-- jumbotrons -->
			<div class="jumbotron">
				<div class="tag">
					<div class="cooking">
						<span>What's Cooking?</span>
					</div>
					<div class="cooking-description">
						<span>Browse our gallery for dependably delicious recipes.</span>
					</div>
				</div>
			</div>
			<!-- /jumbotrons -->

			<!-- subscribe -->
			<div class="row subscribe-container">
				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<div class="row">
						<div class="col-xs-1 col-sm12 col-md-1 col-lg-1"><img src="assets/images/icon-mailinglist-32.png"/></div>
						<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">Sign up for our newsletter to receive a handpicked selection of a best stories, recipes, and news, delivered weekly to your inbox.</div>
					</div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-3 col-lg-3">
					<input type="text" name="subscribe"/>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<button type="button">Subscribe</button>
				</div>
			</div>
			<!-- /subscribe -->

			<div class="row" style="padding-top:25px;">
				<div fs-recipes-list></div>
			</div>
		</div>

	</div>
	<!-- /row -->
	<hr>
	<footer>
		<p>© 2015 Food Sense, all rights reserved.</p>
	</footer>
</div>